<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oss.diaring">

    <application
        android:name=".DiaringApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_diaring_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_diaring_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diaring">
      
<!--        <activity-->
<!--            android:name=".presentation.login.LoginActivity"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.signup.SignUpActivity"
            android:exported="true">
        </activity>
      
        <activity
            android:name=".presentation.splashScreen.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Diaring.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".presentation.Onboarding.OnboardingActivity"
            android:exported="true" />

    </application>

</manifest>