<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oss.diaring">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".DiaringApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_diaring_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_diaring_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diaring">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.oss.diaring"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>

<!--        <activity-->
<!--            android:name=".presentation.login.LoginActivity"-->
<!--            android:exported="false" />-->

        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.signup.SignUpActivity"
            android:exported="true" />

        <activity
            android:name=".presentation.splashScreen.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Diaring.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".presentation.Onboarding.OnboardingActivity"
            android:exported="true" />

        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

    </application>

</manifest>